.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.hiw-img {
  height: 100%;
  width: 100%;
}

.breaka {
  background-color:#6250E7;
}

.breakb {
  background-color:#8B81E3;
}

.breakc {
  background-color:#aaa7c5;
}
